# .github/workflows/ci.yml
name: CI
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: { distribution: temurin, java-version: '21', cache: 'maven' }
      - name: Build + Unit tests  No tests yet
        run: mvn -B -ntp test
      - name: SpotBugs (fail on bugs)
        run: mvn -B -ntp spotbugs:check
      - name: Checkstyle (fail on violations)
        run: mvn -B -ntp checkstyle:check
      - name: Package
        run: mvn -B -ntp -DskipTests=false package
