/* 1. Γενικές Ρυθμίσεις (.root) */
.root {
    /* Βασική Γραμματοσειρά για όλη την εφαρμογή */
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;
    /* Απαλό γκρι φόντο για ξεκούραστο μάτι */
    -fx-background-color: #9db0c39a;
}